<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch-2</title>
    <style>
        table {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%
        }
        td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 7px;
        }
        h1{
        text-align: center;
        }
        tr:nth-child(odd) {
  background-color: #e5f8ff;
}
    </style>
</head>
<body>
<h1>Internship Students Batch - II</h1>
<table>
    <tr style="background-color: #00bfff">
        <th>
            ID
        </th>
        <th>
        Name
    </th>
        <th>
            College
        </th>
    <th>
        Department
    </th>
        <th>
            Email
        </th>
        <th>
            Place
        </th>
        <th>
            IP
        </th>
        <th>
            Photo
        </th>
    </tr>
    <tr>
        <td>
            INT 570
        </td>
        <td>
            Aashrith
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            CSE
        </td>
        <td>
            aashrith.kadimalla@knowledgelens.com
        </td>
        <td>
            Andra Pradesh
        </td>
        <td>
            <a href="http://192.168.2.29" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/1.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 573
        </td>
        <td>
            Badri
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            ECE
        </td>
        <td>
            badri.a@knowledgelens.com
        </td>
        <td>
            Tamil Nadu
        </td>
        <td>
            <a href="http://192.168.2.47" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/5.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 572
        </td>
        <td>
            Gayathri
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            MCA
        </td>
        <td>
            gayathri.s@knowledgelens.com
        </td>
        <td>
            Kerala
        </td>
        <td>
            <a href="http://192.168.2.39" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/4.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 566
        </td>
        <td>
            Kiran
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            CSE
        </td>
        <td>
            kiran.ak@knowledgelens.com
        </td>
        <td>
            Tamil Nadu
        </td>
        <td>
            <a href="http://192.168.2.17" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/3.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 571
        </td>
        <td>
            Omesh
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            CSE
        </td>
        <td>
            omesh.majety@knowledgelens.com
        </td>
        <td>
            Andra Pradesh
        </td>
        <td>
            <a href="http://192.168.2.13" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/8.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 569
        </td>
        <td>
            Rakesh
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            CSE
        </td>
        <td>
            rakesh.kamma@knowledgelens.com
        </td>
        <td>
            Andra Pradesh
        </td>
        <td>
            <a href="http://192.168.2.57" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/2.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 567
        </td>
        <td>
            Sabri
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            ECE
        </td>
        <td>
            sabari.t@knowledgelens.com
        </td>
        <td>
            Tamil Nadu
        </td>
        <td>
            <a href="http://192.168.2.28" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/6.jpg">
        </td>
    </tr>
    <tr>
        <td>
            INT 568
        </td>
        <td>
            Vamsi
        </td>
        <td>
            Amrita Vishwa Vidyapeetham
        </td>
        <td>
            CSE
        </td>
        <td>
            vamsikrishna.grandhi@knowledgelens.com
        </td>
        <td>
            Andra Pradesh
        </td>
        <td>
            <a href="http://192.168.2.20" target="_blank">Click here</a>
        </td>
        <td>
            <img src="/static/img/SPD_photo/7.jpg">
        </td>
    </tr>
</table>
</body>
</html>